/* nav bar styles */

body {
  margin: 0;
  text-decoration: none;
}

.navbar {
  background-color: #f0f1eb;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
}

.list-con {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
  gap: 12px;
  border-right: 1px black;
  padding-right: 12px;
  text-decoration: none;
}

/* home part  */

.home-con {
  padding: 14px;
}

.page-con {
  display: flex;
  flex-direction: column;
  background-color: beige;
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* calculator */

.cal-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cal-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  width: 50vh;
  margin: 50px;
  align-self: end;
}

.calculator-header {
  padding: 14px;
}

.cal-screen {
  grid-column: span 4;
  min-height: 60px;
  max-height: 120px; /* Adjust the max-height value as needed */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 10px;
  font-size: 18px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pre-screen {
  font-size: 14px;
  color: rgb(106, 101, 101);
}

.cur-screen {
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.cal-batn {
  width: 100%;
  height: 40px;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cal-batn:hover {
  background-color: #eaf0f0;
}

.cal-batn:active {
  background-color: #696767;
}

.cal-batn-zero {
  grid-column: span 2;
}

/* ABOUT THE QUOTES */

.quote-con {
  display: flex;
  flex-direction: column;
  background-color: beige;
  padding: 12px;
}
